[Unit]
Description=Каждую минуту запускает sandbox-demo.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target
